[user]
    name = Yusuke Hatanaka
    email = arbalestimp@gmail.com
[core]
    excludesfile = /Users/hatajoe/.gitignore
    quotepath = false
    preloadindex = true
    editor = vim -u NONE --noplugin
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[diff]
    patience = true
    histogram = true
[alias]
    cm = commit
    co = checkout
    rb = rebase
    pl = pull
    ps = push
    br = branch -a
    st = stash
    mg = merge
    ac = !git add -A && git commit
    ctags = !.git/hooks/ctags
[help]
    autocorrect = 1
[color]
    ui = 1
[init]
    templatedir = ~/.gittemp
[ghq]
    root = /Users/hatajoe/src
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[pull]
	rebase = preserve
[push]
	default = simple
