[user]
    name = Yusuke Hatanaka
    email = arbalestimp@gmail.com
[core]
    excludesfile = /home/hatajoe/.gitignore
    quotepath = false
    preloadindex = true
    editor = vim -u NONE --noplugin
[diff]
    patience = true
    histogram = true
[alias]
    cm = commit
    co = checkout
    ac = !git add -A && git commit
    st = status -sb
    rb = rebase
    pu = !git push origin `git rev-parse --abbrev-ref HEAD`
    ctags = !.git/hooks/ctags
[help]
    autocorrect = 1
[color]
    ui = 1
[init]
    templatedir = ~/.gittemp
[ghq]
    root = /home/hatajoe/src
